.rightContentContainer2 {
  background-color: #b2e4fa;
  height: 100vh;
  width: 87.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.helpReqContent {
  width: 1570px;
  height: 860px;
  background-color: aliceblue;
  border-radius: 30px;
}

.collapsedBody {
  width: 108%;
  height: 100vh;
}
